@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(assets/imagens/fundo-madeira.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#frame {
    display:block;
    position: absolute;
    width: 275px;
    aspect-ratio: 7/12;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);

    background-image: url(assets/imagens/tela-home.jpg);
    background-size: cover;
    background-position: center;

}

.content-right{
    position:absolute;
    top: 50%;
    right: 10%;
    transform: translateX(50%) translateY(-50%);
}

.content-right img{
    display: block;
    max-width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    transition: all .3s ease-in-out;

}
