@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
}

body{
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;
}

img{    
    width: 100%;
    object-fit: cover;
    display: block;
}
    
a{
    display: block;
    padding:40px;
    background-color: rgb(18, 18, 87);
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
}
    
a:hover{
    background-color: rgba(20, 20, 128);
    transform: transition(0.3s);
}